.GenerateFree {
    margin-top: 15px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    border: none;
    padding: 2px;
    height: 80vh;
}

.GenerateFree .row select .form-control {
    background-color: rebeccapurple;
}

.GenerateFree select {
    display: flex;
    width: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}


/* 
#chkveg {
    display: none;
} */

@media only screen and (max-width: 768px) {
    .GenerateFree {
        height: auto;
    }
    .submitbtn {
        padding-left: 0px;
        margin-top: 16px;
    }
}