.RouteMapping {
    margin-top: 15px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    border: none;
    height: 80vh;
    padding: 5px 0px 0px 11px;
}

.RouteMappingtable h1 {
    font-size: 16px;
    background-color: #36304a;
    padding: 0px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    line-height: 36px;
    border-radius: 5px 5px 0px 0px;
}

.RouteMappingtable tr {
    text-align: left;
}

.RouteMappingtable tr a {
    color: rgb(0 0 0 / 83%);
    text-decoration: none;
    font-weight: 500;
}

.RouteMapping select {
    color: #888888c4;
    font-size: 12px;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .ClassMaster {
        height: auto;
    }
}