* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.SectionMaster {
    margin-top: 15px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 10%);
    border: none;
    height: 80vh;
    padding: 2px;
}

.sectionrow {
    margin-right: -26px;
}

.SectionMaster .welcome-top .form-group label {
    color: rgba(92, 92, 92, 0.795);
    font-weight: 500;
    font-size: 16px;
}

.SectionMaster .SectionMastertable h1 {
    font-size: 16px;
    background-color: #36304a;
    padding: 0px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
    line-height: 36px;
    border-radius: 5px 5px 0px 0px;
}

.SectionMaster .SectionMastertable tr {
    text-align: left;
}

.SectionMaster .SectionMastertable tr a {
    color: rgb(0 0 0 / 65%);
    text-decoration: none;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .SectionMaster {
        height: auto;
    }
    .SectionMaster .SectionMastertable {
        padding-left: 0%;
    }
}